*{
    margin: 0;
    box-sizing: border-box;
}
#page-wrapper{
    width: 80vw;
    background-color: #e0e0d1;
    margin: auto;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

nav{
    width: 27%;
    background-color: #8a8a5c;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

nav li{
    margin-bottom: 12px;
}

nav a{
    font-size: 1.2rem;
    padding: 5px;
    background-color: #7a7a52;
    border-radius: 5px;
    font-weight: bold;
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
h3{
    font-size: 1.5rem;
    margin-top:25px;
    margin-bottom:10px;
}

main{
    height: 100vh;
    width: 75%;
    text-align: center;
    max-width:1000px;
    padding: 40px 50px 90px;
}

header{
    padding: 15px 10px;
    text-align: center;
    margin-top: 30px;
    background-color: #6b6b47;
}

footer{
    padding: 15px 10px;
    text-align: center;
    margin-top: 30px;
    background-color: #6b6b47;
}

@media screen and (max-width: 1000px){
    .profile-pic{
        max-width: 300px;
    }
    #container{
        flex-direction: column;
    }
    nav{
        width: 100%;
    }
    main{
        width: 100%;
        padding: 25px;
    }
    header{
        text-align: center;
    }
    nav ul{
        flex-direction: row;
        align-items: center;
        padding: 15px;
    }
    nav li{
        margin: 0;
    }
    nav a{
        padding: 8px;
        font-size: 1rem;
        text-align: center;
    }
    #calculator{
        width: 100%;
        margin: auto;
    }
    .content{
        flex-direction: column;
    }
}

table{
    margin: auto;
    font-size: 1rem;
}
th,td{
    padding:10px 16px;
}

body{
    font-size: 18px;
    font-family: Lato, sans-serif;
    line-height: 1.4;
    background-color: #999966;
    color: black;
}

#calculator{
    max-width: 250px;
    margin: auto;
    padding: 20px;
    background-color: #cc9966;
    border-radius: 10px;
    text-align: center;
}
#calculator label{
    font-weight: bold;
    margin-bottom: 5px;
}
#calculator input{
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid saddlebrown;
    border-radius: 20px;
    font-size: 1rem;
}
#calculator button{
    width: 70px;
    margin: auto;
    padding: 5px;
    border: 2px solid #ffcc99;
    border-radius: 20px;
    font-size: 1.2rem;
}
#output{
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.8rem;
}

.content{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.about-text{
    flex: 1;
    max-width: 500px;
    padding-left: 30px;
    text-align: left;
}
.profile-pic{
    max-width: 375px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
}
