*{
    margin: 0;
    box-sizing: border-box;
}
#page-wrapper{
    width: 80vw;
    background-color: aliceblue;
    margin: 0 auto;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav{
    width: 30%;
    background-color: sandybrown;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{

}

main{
    height: 100vh;
    width: 70%;
    text-align: center;
}

header+footer{
    background-color: saddlebrown;
    color: beige;
}