*{
    margin: 0;
    box-sizing: border-box;
}
#page-wrapper{
    width: 80vw;
    background-color: #e0e0d1;
    margin: auto;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

nav{
    width: 27%;
    background-color: #8a8a5c;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20%;
}

nav li{
    margin-bottom: 10%;
}

nav a{
    font-size: calc(14px + 0.6vw);
    padding: 5%;
    background-color: #7a7a52;
    border-radius: 10px;
    font-weight: bold;
}

h1{
    font-size: calc(24px + 1.6vw);
}
h2{
    font-size: calc(20px + 1.2vw);
    margin-bottom: 5%;
}
h3{
    font-size: calc(16px + 0.9vw);
    margin-top:0;
    margin-bottom:0;
}

main{
    height: 100vh;
    width: 75%;
    text-align: center;
    max-width:1000px;
    padding: 2%;
}

header{
    padding: 1%;
    text-align: center;
    background-color: #6b6b47;
}

footer{
    padding: 1%;
    text-align: center;
    margin-top: 1%;
    background-color: #6b6b47;
}

.profile-pic{
    max-width: 50%;
    width: 100%;
    margin: auto;
    border-radius: 20px;
}

@media screen and (max-width: 1050px){
    .profile-pic{
        max-width: 60%;
    }
    #container{
        flex-direction: column;
    }
    nav{
        width: 100%;
    }
    main{
        width: 100%;
        padding: 10%;
    }
    header{
        text-align: center;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2%;
    }
    nav li{
        margin: 0;
    }
    nav a{
        padding: 5%;
        font-size: calc(14px + 0.5vw);
        text-align: center;
    }
    #calculator{
        width: 100%;
        margin: auto;
    }
    .content{
        flex-direction: column;
    }
}

table{
    margin: auto;
    font-size: calc(14px + 0.5vw);
}
th,td{
    padding:1% 0 6%;
}

body{
    font-size: calc(14px + 0.6vw);
    font-family: Lato, sans-serif;
    line-height: 1.4;
    background-color: #999966;
    color: black;
}

#calculator{
    max-width: 40%;
    margin: auto;
    padding-top: 5%;
    background-color: #cc9966;
    border-radius: 10px;
    text-align: center;
}
#calculator label{
    font-weight: bold;
    font-size: calc(13px + 0.5vw);
}
#calculator input{
    padding: 3%;
    border: 2px solid saddlebrown;
    border-radius: 20px;
    font-size: calc(12px + 0.4vw);
}
#calculator button{
    width: 30%;
    margin: auto;
    padding: 4%;
    border: 2px solid #ffcc99;
    border-radius: 20px;
    font-size: calc(10px + 0.5vw);
}
#output{
    margin: auto;
    padding: 5%;
    border-radius: 5px;
    font-size: calc(18px + 1vw);
}

.content{
    display: flex;
    align-items: center;
}
.about-text{
    flex: 1;
    max-width: 80%;
    padding-left: 5%;
    text-align: left;
}

