*{
    margin: 0;
    box-sizing: border-box;
}
#page-wrapper{
    width: 80vw;
    background-color: aliceblue;
    margin: 0 auto;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

nav{
    width: 30%;
    background-color: sandybrown;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

nav li{
    margin-bottom: 12px;
}

nav a{
    font-size: 1.2rem;
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
h3{
    font-size: 1.5rem;
    margin-top:25px;
    margin-bottom:10px;
}

main{
    height: 100vh;
    width: 70%;
    text-align: center;
    max-width:700px;
    padding: 40px;
}

header+footer{
    background-color: saddlebrown;
    color: beige;
}

img{
    max-width: 100%;
    height: auto;
}

.profile-pic{
    max-width: 500px;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 800px){
    .profile-pic{
        max-width: 300px;
    }
}

table{
    margin: auto;
    font-size: 1rem;
}
th,td{
    padding:10px 16px;
}

body{
    font-size: 18px;
}

#calculator{
    max-width: 250px;
    margin: auto;
    padding: 20px;
    background-color: #cc9966;
    border-radius: 10px;
    text-align: center;
}
#calculator label{
    font-weight: bold;
    margin-bottom: 5px;
}
#calculator input{
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid saddlebrown;
    border-radius: 20px;
    font-size: 1rem;
}
#calculator button{
    width: 70px;
    margin: auto;
    padding: 5px;
    border: 2px solid #ffcc99;
    border-radius: 20px;
    font-size: 1.2rem;
}
#output{
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.8rem;
}